<div class="page-footer">
  <div class="container">
        <div class="row">

        <div class="col">
            
            <div class="row">
                <div class="col-md-1">
                    <img src="~/img/icon_gvn.png" ></img>
                </div>
                <div class="col-md-2">
                    <div class="pgftrbaslik">GÜVENLİ ALIŞVERİŞ</div>
                    <div class="pgftrbaslik2">GÜÇLÜ ALTYAPIYLA ALIŞVERİŞİNİZ GÜVENDE</div>
                </div>
            </div>

        </div>

        <div class="col">
            
            <div class="row">
                <div class="col-md-1">
                    <img src="~/img/icon_kapidaodm.png"></img>
                </div>
                <div class="col-md-2">
                    <div class="pgftrbaslik">KAPIDA ÖDEME</div>
                    <div class="pgftrbaslik2">NAKİT VEYA KREDİ KARTI ÖDEMELER KAPINIZDA</div>
                </div>
            </div>

        </div>

        <div class="col">
            
             <div class="row">
                <div class="col-md-1">
                    <img src="~/img/icon_hzlcrg.png"></img>
                </div>
                <div class="col-md-2">
                    <div class="pgftrbaslik">HIZLI GÖNDERİ</div>
                    <div class="pgftrbaslik2">SİPARİŞLERİNİZ <br/> AYNI GÜN KARGODA</div>
                </div>
            </div>

        </div>

        <div class="col">
            
             <div class="row">
                <div class="col-md-1">
                    <img src="~/img/icon_whtsp.png"></img>
                </div>
                <div class="col-md-2">
                    <div class="pgftrbaslik">WHATSAPP</div>
                    <div class="pgftrbaslik2">0 (537) 914 91 92</div>
                </div>
            </div>

        </div>

        
    </div>
  </div>


  <div class="footer-ustbilgi fluid">
        footer ustbilgi
  </div>


  <div class="footer-bilgi">
      <div class="container">
          footer bilgi
      </div>
  </div>


  <div class="footer-digitalsignal">
      <div class="container">
          dijital imza
      </div>
  </div>

</div>
