<section class="page-header">
    <div class="page-header-topbar">
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4">Sol</div>
                    <div class="col-md-4">Orta</div>
                    <div class="col-md-4">Sağ</div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-header-navbar">
        @await Html.PartialAsync("_Navbar")
    </div>
</section>