body {
    padding: 0 !important;
    background-color: #f4f4f4;
    font-family: Raleway !important;

    & > .container-fluid {
        padding: 0 !important;
    }
    
    & a {
        text-decoration: none !important;
    }
}

.page-header {
    
    & > .topbar {
        font-size: 11px;  
        color: #333;     

        & > :first-child {
            background-color: #ebebeb;
            line-height: 40px;
        }
        
        & > :last-child {
            position: relative;                            
            line-height: 1.42857143;
            
            &  > .container {
                padding: 15px 0;
            }
        }

        & a {
            color: #000;
            font-size: 11px;                        
        }

        & p {
            margin: 0;
        }

        & .links {
        
            & > ul {
                list-style: none;
                padding: 0;
                margin: 0;
    
                & > li {
                    float: left;

                    &:not(:last-child) {
                        margin-right: 15px;
                    }
                }           
            }        
        }

        & .notification {
            text-align: center;
        }

        & .contact {
            font-size: 17px;
        }

        & .logo {

            & > img {
                height: 70px;
            }
        }

        & .search {
            width: 95%;
            height: 45px;
            position: absolute;
            bottom: 0;
            margin-bottom: 0 !important;
            padding-right: 30px;
            align-items: center !important;

            & > * {
                height: 100%;
            }

            & > input {
                border: 2px solid #007bff;
                box-shadow: none;
                
                &::placeholder {
                    color: #b3b3b3;
                }
            }
        }

        & .account {
            position: absolute;
            bottom: 0;
            height: 45px;

            & > * {
                height: 100%;
            }
        }
    }


    @media screen and (max-width: 801px) {
        & > .navbar {
            background-color: #fff !important; 

            & a {
                color: #000;
            }
              

            & .navbar {
                background-color: #fff !important;    
            }

            & .row .fa, .fas{
                margin-top: 12px;
                padding-top: 12px;
            }      
        }
    }

    & > .navbar {
        background-color: #007bff;
        padding: 0;
        
        & a {
            color: #007bff;
        }
        
        & .navbar {
            padding-left: 0;
            padding-right: 0;
            width: 100%;

            & .row {
                width: 110%;

                & .col-8 {
                    max-width: 60%;
                }

                & .col-1 {
                    padding-right: 0px;
                }

                & .fa, .fas{
                        margin-top: 12px;
                        padding-top: 12px;
                    }           
            }


            @media screen and (max-width: 801px) {
                & .row {
                    line-height: 50px;
                    & .fa, .fas{
                        margin-top: 12px;
                        padding-top: 12px;
                    }    
                }
            }

            & .navbar-toggler {
                padding: 4px 12px !important;
                outline: none;    
                margin: 12px;           
            }           
        }    
        
    }
}



 .page-footer {

    & > .container {

        & > .div {
            background-color: chartreuse;
            padding: 0;
            margin: 0;
        }

        & .col-md-1 {
            max-width: 100%;
            margin-left: 15px;
            padding: 15px 0 15px 15px;
           
            & > img {
                float: left;
            }
        }

        & .col-md-2 {
            margin-left: 15px;
            padding: 15px 0 0 0;
            line-height: 1.55;
        }
        
        & .pgftrbaslik {
            font-size: 13px;
            font-weight: 800;
            text-align: left;
            color: #355470;
            width: 190px;
        }

        & .pgftrbaslik2 {
            font-size: 12px;
            font-weight: 300;
            float: left;
            text-align: left;
            color: #2c3e50;
            width: 190px;
            padding: 6px 0 0 0;
        }

    }


    & .footer-ustbilgi {

        background : blueviolet;
    }

    & .footer-bilgi .container {
        background-color: aqua;
    }

    & .footer-digitalsignal .container {
        background-color: chartreuse;
    }
}
