<!DOCTYPE html>
<html>
<head> 
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>    
    <title>@ViewData["Title"]</title>
    @RenderSection("styles", required: false)     
    <environment include="Development">
    </environment>
    <environment exclude="Development">
    </environment>    
</head>
<body>    
    @RenderBody()  
    <environment include="Development">
    </environment>
    <environment exclude="Development">
    </environment>    
    @RenderSection("scripts", required: false) 
</body>
</html>